.codeEditorContainer {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 5px;
  padding: 5px;
}

.outputContainer {
  margin-top: 20px;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

