* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-image: url("../media/bg.jpg"); */
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.profile-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #0b0b0b;
  text-align: center;
}

.profile-title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #070606;
}

.profile-picture-container {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-picture-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #101010;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.interview-text {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 1rem;
  color: #040404;
}

h3 {
  margin-bottom: 1rem;
  color: #090909;
}

hr {
  border-top: 1px solid #b094d1;
  margin: 20px 0;
}
